{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"  
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"  
  ],
  "rules": {
    "no-useless-constructor": "off",
    "no-underscore-dangle": "off",
    "lines-between-class-members": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "no-unused-expressions": "off",
    "no-return-await": "off",
    "no-console": 1,       // Means warning
    "prettier/prettier": 2 // Means error  
  }
}