html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#fff, #c4c1c1);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  background-color: #ddd;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #333;
  text-align: center;
  font-weight: 400;
}

.login-box .user-box {
  position: relative;
}

.user-box__span {
  color: #d92804;
  position: absolute;
  top: 42px;
  font-size: 12px;
  left: 0;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #5a6265;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #5a6265;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #5a6265;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #72ff72;
  font-size: 12px;
}

.button {
  background-color: #5a6265;
  border-radius: 5px;
  border: none;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #eee;
  padding: 7px 10px;
  width: 100%;
  margin-bottom: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: #96a08a;
  box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 10px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a {
  color: #96a08a;
}

.login-box a:hover {
  opacity: 0.8;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

.data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sign__message {
  text-align: center;
}
