:root {
  --bg: #ddd;
  --color-text: #333;
  --color-h2: #96a08a;
  --color-button: #eee;
  --bg-button: #8a8a8a;
  --bg-button-hover: #96a08a;
  --bg-input: #fff;
}

.dark-mode:root {
  --bg: #232627;
  --color-text: #cbc6bf;
  --color-h2: #96a08a;
  --color-button: #eee;
  --bg-button: #8a8a8a;
  --bg-button-hover: #96a08a;
  --bg-input: #2b2a33;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: .8fr 2fr 4fr;
  height: 95vh;
  background-color: var(--bg);
  color: var(--color-text);
}

input, textarea {
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: var(--color-text);
  background-color: var(--bg-input);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
}

input:focus, textarea:focus {
  outline: 0px solid transparent;
  box-shadow: rgba(150, 160, 138, 1) 0px 5px 7px -1px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


#userId, #roomCurrent {
  color: var(--color-h2);
}

.section__quit {
  padding: 2em;
  display: flex;
  transition: all .2s;
}

.quit__div {
  display: block;
  transition: all .2s;
}

.section__quit-hidden {
  display: none;
  opacity: 0;
}

.section__quit a {
  text-decoration: none;
  margin-right: 5px;
  display: block;
  margin-bottom: 20px;
}

.section__quit button {
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.quit__button {
  transition: all .1s;
  cursor: pointer;
  font-size: 30px;
}

.quit__button-press {
  transform: scale(-1, 1);
}

.section__settings {
  text-align: center;
  padding-top: 2em;
}

.settings__infos h3 {
  line-height: 1em;
  margin-bottom: .5em;
  font-weight: 100;
}

.settings__infos {
  color: var(--color-text);
}

.section__chat {
  padding-top: 2em;
  text-align: center;
}

.section__chat h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.settings__inputs {
  margin-top: 50px;
  width: 100%;
}

.settings__inputs h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.settings__inputs div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.settings__inputs span {
  margin-right: 10px;
}

.settings__inputs select {
  height: 30px;
  width: 12em;
  text-align: center;
  color: var(--color-button);
}

.settings__inputs input {
  width: 20em;
  margin-right: 10px;
}

.settings__inputs  button {
  width: 12em;
}

.section__chat textarea {
  width: 80%;
  height: 60%;
  margin-bottom: 20px;
  resize: none;
}

.section__chat div {
  display: flex;
  justify-content: center;
}

.section__chat div input {
  width: 60%;
  height: 30px;
}

.section__chat div button {
  margin-left: 4%;
  width: 16%;
}

.button {
  background-color: var(--bg-button);
  border-radius: 5px;
  border: none;
  transition: all .2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--color-button);
}

.button:hover {
  cursor: pointer;
  background-color: var(--bg-button-hover);
  box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 10px;
}

@media screen and (max-width: 759px) {
  body {
    grid-template-columns: 1fr;
  }
}

.listRooms {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listRooms .room {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all .2s;
}

.listRooms .room button {
  justify-content: right;
  margin-left: 10px;
  border: 10px solid transparent;
  background-color: transparent;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 500;
  transition: all .2s;
}