* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 2fr 3fr;
  height: 95vh;
  background-color: #ddd;
  color: #333;
}

input, textarea {
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

input:focus, textarea:focus {
  outline: 0px solid transparent;
  box-shadow: rgba(150, 160, 138, 1) 0px 5px 7px -1px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


#userId, #roomCurrent {
  color: #96a08a;
}

.section__settings {
  text-align: center;
  padding-top: 2em;
}

.settings__infos h3 {
  line-height: 1em;
  margin-bottom: .5em;
  font-weight: 100;
}

.settings__infos {
  color: #333;
}

.section__chat {
  padding-top: 2em;
  text-align: center;
}

.section__chat h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.settings__inputs {
  margin-top: 50px;
  width: 100%;
}

.settings__inputs h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.settings__inputs div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.settings__inputs span {
  margin-right: 10px;
}

.settings__inputs select {
  height: 30px;
  width: 12em;
  text-align: center;
  color: #eee;
}

.settings__inputs input {
  width: 20em;
  margin-right: 10px;
}

.settings__inputs  button {
  width: 12em;
}

.section__chat textarea {
  width: 80%;
  height: 60%;
  margin-bottom: 20px;
  resize: none;
  
}

.section__chat div {
  display: flex;
  justify-content: center;
}

.section__chat div input {
  width: 60%;
  height: 30px;
}

.button {
  background-color: #8a8a8a;
  border-radius: 5px;
  border: none;
  transition: all .2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #eee;
}

.section__chat div button {
  margin-left: 4%;
  width: 16%;
}

.button:hover {
  cursor: pointer;
  background-color: #96a08a;
  box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 10px;
}